doctype html
html(lang='pl')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale-1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Receipts
  body
    script.
      function redirectToPanel() {
      var idLekarza = location.search.split('idLekarza=')[1];
      var url= '/panel?idLekarza=' + idLekarza;
      window.location.replace(url);
      }
      
    header
      main
        .content-buttons
          a.button(href='/' style="background-color: #6A2E2E;") Wyloguj się
          a.button(onclick='redirectToPanel()', style="background-color: #6A2E2E;") Wróć
        #search
          form#searchfield(action='listofreceipts')
            input(type='text', name='userToSearch', required='required', style='display: inline-block;')
            input(type='submit', value='Search', style='display: inline-block;')
          h3#usersheader Receipts
          br
        ol#listofusers
          each val in values
            li  id:#{val.idRecepty}, idChoroby:#{val.idChoroby}, Refundacja:#{val.Refundacja}, idPacjenta:#{val.idPacjenta}, idLekarza:#{val.idLekarza}
            a.button#userbutton(href='/deleteReceipt?login=admin&userToDelete=' + val.idRecepty) Usuń  